h1 {
    color: rgba(195, 209, 212, 0.964);
}

h2{}
p{
    color: black;
    
}
header {
    background-color: #1b387a;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
}
header nav a {
    color: rgba(195, 209, 212,0.964);
    margin: 0 15px;
    text-decoration: none;
}
